.bbf-form {
    margin: 0;
    padding: 0;
    border: none;
}


.bbf-field {
    margin: 1em 0;
    list-style-type: none;
    position: relative;
    clear: both;
}

    .bbf-field label {
        float: left;
        width: 25%;
    }
    
    .bbf-field .bbf-editor {
        margin-left: 25%;
        width: 74%;
    }
        
        .bbf-field input, .bbf-field textarea, .bbf-field select {
            width: 100%;
        }
    
    .bbf-field .bbf-help {
        margin-left: 25%;
        width: 74%;
        color: #999;
    }

    .bbf-field.bbf-error .bbf-editor {
        outline: 1px solid red;
    }



.bbf-radio {
    list-style-type: none;
}

    .bbf-radio input {
        width: auto;
    }

    .bbf-radio label {
        float: none;
    }



.bbf-checkboxes {
    list-style-type: none;
}

    .bbf-checkboxes input {
        width: auto;
    }

    .bbf-checkboxes label {
        float: none;
    }



.bbf-list {

}

    .bbf-list .bbf-error {
        border: 1px solid red;
    }

    .bbf-list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .bbf-list li {
            clear: both;
            width: 100%;
        }

    .bbf-list .bbf-editor-container {
        margin-right: 2em;
    }

    .bbf-list .bbf-remove {
        float: right;
        width: 2em;
    }

    .bbf-list .bbf-actions {
        text-align: center;
        clear: both;
    }
